#Data Science Tools and Ecosystem

In this NoteBook Data Science Tools and Ecosystem are Summarized

Some of the popular languages that Data Science uses are:
1. Python
2. R
3. Sql
4. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. Numpy
3. Pyplot
4. ggplot

|Data Science Tools|
|------------------|
|**Open Source DS tools**|
| Jupyter |
| R-Studio |
| Spyder |
|Apache Zeppelin |

###Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

In [8]:
 #This will convert 200 minutes to hours by diving by 60

In [9]:
#1 hr = 60 min

In [10]:
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
* List popular libraries for Data Science
+ Data Science Tools
* Arithmetic Expression Examples

## Author
Shantanu Dhanawade